{
  "packages/*/src/**/*.{js,jsx,ts,tsx,mdx}": ["prettier --write", "eslint --fix --max-warnings=-1"],
  "packages/*/src/**/*.md": [
    "prettier --write"
  ],
  "packages/*/src/**/*.{json,css,scss,md}": ["prettier --single-quote --write"]
}
